.chart {
  top: 70px;
}

.header {
  position: fixed;
  top: 90px;
  text-transform: uppercase;
}
.statsContainer {
  position: fixed;
  left: 0;
  right: 0;

  height: 900px;
  top: 64px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  .chart {
    display: flex;
    margin-top: 8rem;
    .stats {
      padding-right: 1rem;
    }
    .statsp {
      padding-left: 1rem;
    }
    .stats > canvas {
      height: 300px;
      width: 600px;
      padding: 1rem;
      background-color: rgb(0 0 0 / 75%);
      box-shadow: -5px 20px 15px 6px rgb(0 0 0 / 20%),
        0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%) !important;
      -webkit-backdrop-filter: blur(10px) !important;
      backdrop-filter: blur(10px) !important;
      border-radius: 5px;
    }
    .statsp > canvas {
      height: 300px;
      width: 600px;
      padding: 1rem;
      background-color: rgb(0 0 0 / 75%);
      box-shadow: -5px 20px 15px 6px rgb(0 0 0 / 20%),
        0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%) !important;
      -webkit-backdrop-filter: blur(10px) !important;
      backdrop-filter: blur(10px) !important;
      border-radius: 5px;
    }
  }
  .elosm {
    padding-top: 1rem;
  }
  .elosm > canvas {
    height: 300px !important;
    width: 600px !important;
    padding: 1rem;
    background-color: rgb(0 0 0 / 75%);
    box-shadow: -5px 20px 15px 6px rgb(0 0 0 / 20%),
      0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 5px;
  }
  .glassHeader {
    > .header {
      margin-left: -6rem;
      background-color: rgb(0 0 0 / 75%) !important;
      padding: 1rem;
      box-shadow: -5px 20px 15px 6px rgb(0 0 0 / 20%),
        0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%) !important;
      -webkit-backdrop-filter: blur(10px) !important;
      backdrop-filter: blur(10px) !important;
      border-radius: 5px;
    }
  }
}
